body {
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

input.form-control {
  background-color: #393D42;
  color: white;
}

textarea.form-control {
  background-color: #393D42;
  color: white;
}

a{
  color: #393D42
}

a:hover{
  color: lightgreen;
  text-decoration: none;
}

#a {
  color: white;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.btn {
  background-color: #393D42;
  border: none;
}

.btn:hover{
  opacity: 0.7;
}
